@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('plus-jakarta-sans.css');
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  background-image: url('../assets/gradient_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Plus Jakarta', sans-serif;
}
.custom-shadow {
  box-shadow: 0px 0px 15px #404040;
}
.gradient-background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)),
    url('../assets/gradient_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .progress-circle {
  transform: rotate(-90deg);
  margin-top: -40px;
} */
.circle-background {
  fill: none;
  stroke: #d8d8d8;
}

.circle-progress {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
